:root {
    --cor-neutra-0: #ffffff;
    --cor-neutra-1: #eee4db;
    --cor-neutra-2: #d4c3b6;
    --cor-neutra-3: #b8a99e;
    --cor-neutra-4: #9e8f85;
    --cor-neutra-5: #7e6e65;
    --cor-neutra-6: #5e4e45;
    --cor-neutra-7: #3e2e25;
    --cor-neutra-8: #1e0e05;
    --cor-neutra-9: #000000;

    --cor-primaria-1: #2BB5A0;
    --cor-primaria-2: #1E9A87;
    --cor-primaria-3: #147D6E;

    --cor-secundaria: #B2E8E2;
}